#page-portfolio {
    position: relative;
    padding-top: 100px;
    min-height: 300px;

    .banner-bg, .header-aura {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 300px;
    }

    .banner-filter {
        box-shadow: inset 0 50px 200px rgba(0, 0, 0, 0.8);
    }

    .header-aura {
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #fff), linear-gradient(70deg, #de74b4 32%, #deca6d);
        // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #fff), linear-gradient(70deg, #63bbbb 32%, #deca6d);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #fff);
    }
}