extends ./layout

block content
    #page-home
        header.banner-bg
            .container
                #mountain
                .banner-filter
                .row
                    #caption.col-md-12
                        h1 Web 
                            strong Developer
                        h1 Semi-Flat 
                            strong Designer
        section
            .container
                .label_box
                    | Languages &amp; Frameworks
                .row
                    .col-md-2
                    .col-md-8
                        img(src="/img/GNXB-Framework.png", style="width:100%;")
                        br
                        br
                        p
                            | I love JavaScript. I am interesting in Web Development Technology both of Front-End and Back-End. I like to learn a new Framework to integrate my work.
                    .col-md-2
        section.highlight
            .container
                .label_box
                    | Profile
                .row
                    .col-md-2
                    .col-md-8
                        .row.flex-item-xs-center
                            #profile
                            h2(style="font-weight: lighter; text-align: center;") Apiwith Potisuk
                    .col-md-2