extends ./layout

block content
    #page-portfolio
        header.banner-bg
            .banner-filter
        .header-aura

        .container
            .col-md-2
            .main-content.col-md-8
                .row
                    .col-md-12
                        h1 Hello